@model BillPay

@{
	ViewData["Title"] = "BillPay";
}

<h1>Add BillPay Page</h1>

<div>
   <hr />

	<form asp-action="AddBillPay">

		<div class="form-group">
			<label asp-for="AccountNumber" class="control-label"></label>
			<input asp-for="AccountNumber" class="form-control" />
			<span asp-validation-for="AccountNumber" class="text-danger"></span>
			@Html.ValidationMessage("InvalidAccount", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label asp-for="PayeeID" class="control-label"></label>
			<input asp-for="PayeeID" class="form-control" />
			<span asp-validation-for="PayeeID" class="text-danger"></span>
			@Html.ValidationMessage("InvalidPayee", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label asp-for="Amount" class="control-label"></label>
			<input asp-for="Amount" class="form-control" />
			<span asp-validation-for="Amount" class="text-danger"></span>
			@Html.ValidationMessage("NegativeAmount", new { @class = "text-danger" })
			@Html.ValidationMessage("TooManyDecimals", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label asp-for="ScheduleTimeUtc" class="control-label"></label>
			<input asp-for="ScheduleTimeUtc" class="form-control" />
			<span asp-validation-for="ScheduleTimeUtc" class="text-danger"></span>
			@Html.ValidationMessage("InvalidTime", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<label asp-for="Period" class="control-label"></label>
			<input asp-for="Period" class="form-control" />
			<span asp-validation-for="Period" class="text-danger"></span>
			@Html.ValidationMessage("InvalidPeriod", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			<input type="submit" value="Schedule BillPay" class"btn btn-primary" />
		</div>

	</form>

</div>
