@model Customer

@{
	ViewData["Title"] = "MCBA Dashboard";
}

<h1>Welcome, @Model.Name</h1>

<div>
	<h4>Your Details:</h4>
	<hr />
	

		@foreach(var account in Model.Accounts)
		{
			<dl class="row">

				<dt class = "col-sm-2">
					@nameof(@account.AccountNumber): @account.AccountNumber
				</dt>

				<dt class = "col-sm-2">
					@nameof(@account.AccountType): @account.AccountType
				</dt>

				<dt class = "col-sm-2">
					@nameof(@account.Balance): @account.Balance
				</dt>

			</dl>
		}

	
</div>
