@using MvcBank.Models;

@model IEnumerable<Transaction>

@{
	ViewData["Title"] = "My Statements";

	var accounts = ViewBag.Accounts;
}

<h1>My Statements Page</h1>

<div>
	<hr />

   <label>Choose an account:</label>

	@if(Model == null)
	{
		<form asp-action="MyStatements" asp-route-page="0">

			<input id="AccountNumber" name="AccountNumber" class="form-control" />

			<select data-val="true" data-val-required="Please select an account.">
			
				<option value="">Select account</option>

			
		

			</select>
		</form>

		<!--reddirect to mystatements with an account number and page = 0-->

	}
	else
	{
		<h1>Displaying transactions for:</h1>
		<h5>@Html.DisplayFor(x => x.ElementAt(0).AccountNumber)</h5>

		<table class="table">

			<!--Column headers-->
			<tr>
				<th>@Html.DisplayNameFor(x => x.ElementAt(0).TransactionID)</th>
				<th>@Html.DisplayNameFor(x => x.ElementAt(0).TransactionType)</th>
				<th>@Html.DisplayNameFor(x => x.ElementAt(0).DestinationAccount)</th>
				<th>@Html.DisplayNameFor(x => x.ElementAt(0).Amount)</th>
				<th>@Html.DisplayNameFor(x => x.ElementAt(0).Comment)</th>
				<th>@Html.DisplayNameFor(x => x.ElementAt(0).TransactionTimeUtc)</th>
			</tr>

			@foreach(var transaction in Model) {

				<!--One row will be displayed for each transaction-->
				<tr>
					<td>@Html.DisplayFor(x => transaction.TransactionID)</td>
					<td>@Html.DisplayFor(x => transaction.TransactionType)</td>
					<td>@Html.DisplayFor(x => transaction.DestinationAccount)</td>
					<td>@Html.DisplayFor(x => transaction.Amount)</td>
					<td>@Html.DisplayFor(x => transaction.Comment)</td>
					<td>@Html.DisplayFor(x => transaction.TransactionTimeUtc)</td>
				</tr>
			}

		</table>
	}

</div>
